* {
    border: none;
    border-radius: 0px;
    font-size: 14px;
    min-height: 24px;
    font-family: 'Nerd Font Hack Mono';
    color: white;
}

window#waybar {
    background: transparent;
    margin-bottom: 15px;
}

#workspaces {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
}

#workspaces button {
    padding-right: 8px;
}

#workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#workspaces button:first-child {
    border-radius: 24px 0px 0px 24px;
    padding-left: 8px;
}

#workspaces button:last-child {
    border-radius: 0px 24px 24px 0px;
}

#battery {
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0px 10px;
}

.bat-full {
    color: rgba(42, 155, 53, 1) /* #2A9B35 */;
}

.bat-high {
    color: rgba(140, 199, 29, 1) /* #8CC71D */;
}

.bat-ok {
    color: rgba(211, 231, 11, 1) /* #D3E70B */;
}

.bat-medium {
    color: rgba(247, 178, 52, 1) /* #F7B324 */;
}

.bat-low {
    color: rgba(242, 132, 59, 1) /* #F2843B */;
}

.bat-critical {
    color: rgba(237, 83, 83, 1) /* #ED5353 */;
}

#clock {
    background-color: rgba(240, 181, 198, 0.5);
    border-radius: 24px;
    padding: 0px 10px;
}

